@import url('https://fonts.cdnfonts.com/css/plexus-sans');
                
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plexus Sans', sans-serif;
    overflow-x: hidden;
}

nav{
    height: 60px;
    background-color: #FFFDD0;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
}


.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
    height: 100%;
}


nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #242323;
    /* color: whitesmoke; */
}

nav a:hover{
    background-color: #FFA500;
    color: #FFFDD0;

}

nav a:hover > svg {
    fill: #FFFDD0   ;

}

nav svg{
    fill: black;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
    cursor: pointer;
    
}

.close-sidebar-button{
    fill: whitesmoke;
}

nav img{
    width: 4%;
    padding: 10px;
}


.home-section{
    background-image: url('../img/Newly-renovated-Yaba-Centre-5.jpeg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    width: 100%;
}

.home-section-inner{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.637);
    color: #fff;
    padding: 50px;
    
    text-align: center;
}

.home-section-inner h1{
    font-size: 60px;
    margin-left: -80px;
}
.contact-form-section{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-top: 3em;
}

.contact-form-section form{
    background-color: #FFFDD0;
    padding: 50px 40px;
    width: 40%;
    border: 10px;

}

.contact-form-section form div{
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
}

.contact-form-section form input, textarea{
    font-size: 17px;
    font-family: 'Plexus Sans', sans-serif;
    margin-bottom: 10px;
    width: 90%;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #bebebe;
    resize: none;
}

.contact-form-section form label{
    margin-bottom: 5px;
}

textarea{
    height: 20vh;
}

.contact-form-section form select{
    font-size: 17px;
    font-family: 'Plexus Sans', sans-serif;
    margin-bottom: 10px;
    width: 95%;
    padding: 5px 10px;
    border: none;
    background-color: #bebebe;
}

.contact-form-section img{
    width: 35%;
}

.contact-form-section button{
    background-color: #FFA500;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    color: white;
    font-family: 'Plexus Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5;
    cursor: pointer;
    transition: all .6s ease-in;
}

.contact-form-section button:hover{
    background-color: #e49503;
}

.faq-section{
    padding: 60px;  
    margin-top: 3em;
}



/* Accordion */

    
    /*start styles*/
    .accordion {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    
    .accordion__item {
        /* border: 1px solid #e5f3fa; */
        border-radius: 10px;
        overflow: hidden;
    }
    
    .accordion__header {
    padding: 20px 25px;
        font-weight: 600;
        cursor: pointer;
        position: relative;
       background-color: #FFFDD0;
    }
    
    .accordion__header::after {
        content: '';
        background: url(https://www.svgrepo.com/show/357035/angle-down.svg) no-repeat center;
        width: 20px;
        height: 20px;
        transition: .4s;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1;
    }
    
    .accordion__header.active {
        background: #FFFDD0;
    }
    
    .accordion__header.active::after {
        transform: rotateX(180deg);
    }
    
    .accordion__item .accordion__content {
        padding: 0 25px;
        max-height: 0;
        transition: .5s;
        overflow: hidden;
    }
    

/* End of accordion */


.local-community-section{
    background-color: #FFA500;
    padding: 60px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    gap: 50px;
}

.local-community-section img{
    width: 50%;
}

.local-community-section div h1{
    font-size: 30px;
}

.local-community-section div p{
    font-size: 15px;
}

footer{
    background-color: #FFFDD0;
    text-align: center;
    padding: 30px;
    margin-top: 5em;
}

footer div{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

footer div img{
    width: 7%;
}




@media(max-width: 640px) {
    nav{
        /* border: 1px solid red; */
        flex-direction: row-reverse;
        /* width: 70%; */
    }
    .links-container{
        display: none;
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        height: 500px;

        background-color: rgb(68, 67, 67);
        transition: right 3s ease-in-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 10px;
        justify-content: flex-start;
    }

    nav a:hover{
        background-color: #FFFDD0;
    }   

    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding:  20px;
        /* fill: #FFFDD0; */
    }

    #sidebar-active:checked ~ .links-container{
        display: flex;
        right: 0;
    }

    #sidebar-active:checked ~ .links-container .links{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        width: 100%;
    }

    #sidebar-active:checked ~ .links-container .close-sidebar-button svg{
        fill: #FFFDD0;
    }

    #sidebar-active:checked ~ .links-container .links a{
        color: #FFFDD0;
    }

    #sidebar-active:checked ~ .links-container .links a svg{
        fill: #FFFDD0;
    }

    nav img{
        width: 10%;
    }


    .home-section-inner{
        padding: 40px;
        /* padding-top: 90px; */
        height: 260px;
        width: 120%;
        text-align: center;
        /* display: none; */
        background-color: #24232300;
        /* padding-left: 50px; */
        padding-top: 120px;
        /* border: 1px solid red; */
    }


    .home-section-inner h1{
        /* width: 80%; */
        margin: 0 auto;
        margin: 10px;
        font-size: 40px;
        /* border: 1px solid red; */
    }

    .contact-form-section{
        padding: 10px;
        padding-bottom: 60px;
        flex-direction: column;
        gap: 50px;
        /* text-align: center; */
        /* border: 1px solid red; */
    }

    .contact-form-section form{
        width: 70%;
    }

    .contact-form-section img{
        width: 90%;
    }

    
    .faq-section{
        padding: 20px;
        margin-bottom: 80px;
    }
  

    .local-community-section{
        padding: 20px;
        padding-bottom: 60px;
        flex-direction: column;
        text-align: center;
    }

    .local-community-section h1{
        font-size: 30px;
    }

    .local-community-section p{
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        line-height: 1.7;
    }

    .local-community-section img{
        width: 100%;
    }


    footer div a img{
        width: 20%;
    }
    
}

@media(max-width: 500px) {
    nav{
        /* border: 1px solid red; */
        flex-direction: row-reverse;
        /* width: 70%; */
    }
    .links-container{
        display: none;
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        height: 500px;

        background-color: rgb(68, 67, 67);
        transition: right 3s ease-in-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 10px;
        justify-content: flex-start;
    }

    nav a:hover{
        background-color: #FFFDD0;
    }   

    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding:  20px;
        /* fill: #FFFDD0; */
    }

    #sidebar-active:checked ~ .links-container{
        display: flex;
        right: 0;
    }

    #sidebar-active:checked ~ .links-container .links{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        width: 100%;
    }

    #sidebar-active:checked ~ .links-container .close-sidebar-button svg{
        fill: #FFFDD0;
    }

    #sidebar-active:checked ~ .links-container .links a{
        color: #FFFDD0;
    }

    #sidebar-active:checked ~ .links-container .links a svg{
        fill: #FFFDD0;
    }

    nav img{
        width: 10%;
    }


    .home-section-inner{
        padding: 20px;
        /* padding-top: 90px; */
        height: 260px;
        width: 90%;
        text-align: center;
        /* display: none; */
        background-color: #242323b2;
        /* padding-left: 50px; */
        padding-top: 120px;
        /* border: 1px solid red; */
    }


    .home-section-inner h1{
        /* width: 80%; */
        margin: 0 auto;
        margin: 10px;
        font-size: 40px;
        /* border: 1px solid red; */
    }

    .contact-form-section{
        padding: 10px;
        padding-bottom: 60px;
        flex-direction: column;
        gap: 50px;
        /* text-align: center; */
        /* border: 1px solid red; */
    }

    .contact-form-section form{
        width: 70%;
    }

    .contact-form-section img{
        width: 90%;
    }

    
    .faq-section{
        padding: 20px;
        margin-bottom: 80px;
    }
  

    .local-community-section{
        padding: 20px;
        padding-bottom: 60px;
        flex-direction: column;
        text-align: center;
    }

    .local-community-section h1{
        font-size: 30px;
    }

    .local-community-section p{
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        line-height: 1.7;
    }

    .local-community-section img{
        width: 100%;
    }


    footer div a img{
        width: 20%;
    }
    
}

@media(max-width: 780px) {
    nav{
        /* border: 1px solid red; */
        flex-direction: row-reverse;
        /* width: 70%; */
    }
    .links-container{
        display: none;
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        height: 500px;

        background-color: rgb(68, 67, 67);
        transition: right 3s ease-in-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 10px;
        justify-content: flex-start;
    }

    nav a:hover{
        background-color: #FFFDD0;
    }   

    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding:  20px;
        /* fill: #FFFDD0; */
    }

    #sidebar-active:checked ~ .links-container{
        display: flex;
        right: 0;
    }

    #sidebar-active:checked ~ .links-container .links{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        width: 100%;
    }

    #sidebar-active:checked ~ .links-container .close-sidebar-button svg{
        fill: #FFFDD0;
    }

    #sidebar-active:checked ~ .links-container .links a{
        color: #FFFDD0;
    }

    #sidebar-active:checked ~ .links-container .links a svg{
        fill: #FFFDD0;
    }

    nav img{
        width: 10%;
    }


    .home-section-inner{
        padding: 20px;
        /* padding-top: 90px; */
        height: 260px;
        width: 100%;
        text-align: center;
        /* display: none; */
        background-color: #24232300;
        /* padding-left: 50px; */
        padding-top: 120px;
        /* border: 1px solid red; */
    }


    .home-section-inner h1{
        /* width: 80%; */
        margin: 0 auto;
        margin: 10px;
        font-size: 40px;
        /* border: 1px solid red; */
    }

    .contact-form-section{
        padding: 10px;
        padding-bottom: 60px;
        flex-direction: column;
        gap: 50px;
        /* text-align: center; */
        /* border: 1px solid red; */
    }

    .contact-form-section form{
        width: 70%;
    }

    .contact-form-section img{
        width: 90%;
    }

    
    .faq-section{
        padding: 20px;
        margin-bottom: 80px;
    }
  

    .local-community-section{
        padding: 20px;
        padding-bottom: 60px;
        flex-direction: column;
        text-align: center;
    }

    .local-community-section h1{
        font-size: 30px;
    }

    .local-community-section p{
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        line-height: 1.7;
    }

    .local-community-section img{
        width: 100%;
    }


    footer div a img{
        width: 20%;
    }
    
}

@media(max-width: 1068px) {
    .home-section-inner{
        padding: 20px;
        /* padding-top: 90px; */
        height: 260px;
        width: 90%;
        text-align: center;
        /* display: none; */
        background-color: #24232300;
        /* padding-left: 50px; */
        padding-top: 120px;
        /* border: 1px solid red; */
    }


    .home-section-inner h1{
        /* width: 80%; */
        margin: 0 auto;
        margin: 10px;
        font-size: 40px;
        /* border: 1px solid red; */
    }

    .contact-form-section{
        padding: 10px;
        padding-bottom: 60px;
        flex-direction: column;
        gap: 50px;
        /* text-align: center; */
        /* border: 1px solid red; */
    }

    .contact-form-section form{
        width: 70%;
    }

    .contact-form-section img{
        width: 50%;
    }

    
    .faq-section{
        padding: 20px;
        margin-bottom: 80px;
    }
  

    .local-community-section{
        padding: 20px;
        padding-bottom: 60px;
        flex-direction: column;
        text-align: center;
    }

    .local-community-section h1{
        font-size: 30px;
    }

    .local-community-section p{
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        line-height: 1.7;
    }

    .local-community-section img{
        width: 100%;
    }


    footer div a img{
        width: 10%;
    }
    
}