 @import url('https://fonts.cdnfonts.com/css/plexus-sans');
                

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plexus Sans', sans-serif;
}

/* nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFDD0;
    padding: 20px;
}

nav img{
    width: 7%;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    
}

nav ul li{

    list-style: none;
}

nav ul li a{
    font-family: 'Plexus Sans', sans-serif;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: black;
    transition: color .5s ease-in;
}

nav ul li a svg{
    fill: black;
} */


nav{
    height: 60px;
    background-color: #FFFDD0;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    width: 100%;
}


.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
    height: 100%;
}


nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #242323;
    /* color: whitesmoke; */
}

nav a:hover{
    background-color: #FFA500;
    color: #FFFDD0;

}

nav a:hover > svg {
    fill: #FFFDD0   ;

}

nav svg{
    fill: black;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
    cursor: pointer;
    
}

.close-sidebar-button{
    fill: whitesmoke;
}

nav img{
    width: 4%;
    padding: 10px;
}




.home-section{
    background-image: url('../img/Newly-renovated-Yaba-Centre-5.jpeg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    width: 100%;
}

.home-section-inner{
    width: 83.5%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.637);
    color: #fff;
    padding: 100px;
}

.home-section-inner p{
    width: 50%;
}

.home-section-inner h1:nth-child(2){
    font-size: 40px;
    margin: 0;
}

.home-section-inner h1:first-child{
    font-size: 30px;
}

.home-section-inner a{
    background-color: #FFFDD0;
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    transition: background-color .5ms ease-inout;
}

.home-section-inner a:hover{
    background-color:#d8d5a5;
}

.about-us-section{
    background-color: #FFA500;
    text-align: center;
    padding: 60px;
    color: #fff;
    width: 95%;
}

.about-us-section p{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.about-us-section h1{
    font-size: 40px;
    
}

.about-us-section a{
    padding: 10px 30px;
    background-color: #353434;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about-us-section a:hover{
    background-color: #242323;
}

.gallery-section{
    padding: 50px;
}

.gallery-section-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.gallery-section-inner div{
    width: 30%;
}

.gallery-section-inner div img{
    width: 100%;
    object-fit: contain;
}

.gallery-section h1{
    text-align: center;
    font-size: 40px;
}

.gallery-section-inner div a{
    background-color: #FFA500;
    text-decoration: none;
    color: #FFFDD0;
    padding: 10px 0px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.gallery-section-inner div a:hover{
    background-color: #da9008;

}

footer{
    background-color: #FFFDD0;
    text-align: center;
    padding: 30px;
    margin-top: 5em;
    width: 100%;

}

footer div{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

footer div img{
    width: 7%;
    cursor: pointer;
}


@media(max-width: 500px) {
    body{
        overflow-x: hidden;
    }
    nav{
        /* border: 1px solid red; */
        flex-direction: row-reverse;
    }
    .links-container{
        display: none;
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 200px;

        height: 500px;

        background-color: rgb(68, 67, 67);
        transition: right 3s ease-in-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 10px;
        justify-content: flex-start;
    }

    nav a:hover{
        background-color: #FFFDD0;
    }   

    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding:  20px;
        /* fill: #FFFDD0; */
    }

    #sidebar-active:checked ~ .links-container{
        display: flex;
        right: 0;
    }

    #sidebar-active:checked ~ .links-container .links{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        width: 100%;
    }

    #sidebar-active:checked ~ .links-container .close-sidebar-button svg{
        fill: #FFFDD0;
    }

    #sidebar-active:checked ~ .links-container .links a{
        color: #FFFDD0;
    }

    #sidebar-active:checked ~ .links-container .links a svg{
        fill: #FFFDD0;
    }


    nav img{
        width: 10%;
    }

    .home-section-inner{
        padding: 0px;
        padding-top: 90px;
        height: 450px;
        width: 100%;
        text-align: center;
    }

    .home-section-inner h1{
        /* width: 80%; */
        margin: 0 auto;
        margin: 10px;
    }

    .home-section-inner p{
        width: 80%;
        line-height: 1.7;
        padding: 10px;
        margin: 0 auto;
    }

    .about-us-section{
        padding: 20px;
        padding-bottom: 60px;
        width: 90%;
    }

    .about-us-section h1{
        font-size: 30px;
    }

    .about-us-section p{
        width: 90%;
    }

    .gallery-section{
        padding: 20px;
        /* border: 1px solid red; */
    }

    .gallery-section h1{
        font-size: 30px;
    }

    .gallery-section-inner{
        flex-direction: column;
    }

    .gallery-section-inner div{
        width: 100%;
    }

    footer{
        width: 85%;
    }

    footer div a img{
        width: 70%;
    }
    
    
}

@media(max-width: 640px) {
    nav{
        /* border: 1px solid red; */
        flex-direction: row-reverse;
    }
    .links-container{
        display: none;
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 250px;

        background-color: rgb(68, 67, 67);
        transition: right 3s ease-in-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    nav a:hover{
        background-color: #FFFDD0;
    }   

    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding:  20px;
        /* fill: #FFFDD0; */
    }

    #sidebar-active:checked ~ .links-container{
        display: flex;
        right: 0;
    }

    #sidebar-active:checked ~ .links-container .links{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        width: 100%;
    }

    #sidebar-active:checked ~ .links-container .close-sidebar-button svg{
        fill: #FFFDD0;
    }

    nav img{
        width: 10%;
    }

    .home-section-inner{
        padding: 0px;
        padding-top: 90px;
        height: 450px;
        width: 100%;
        text-align: center;
        /* padding-left: 50px; */
    }

    .home-section-inner h1{
        /* width: 80%; */
        margin: 0 auto;
        margin: 10px;
    }

    .home-section-inner p{
        width: 80%;
        line-height: 1.7;
        padding: 10px;
        margin: 0 auto;
    }

    .about-us-section{
        padding: 20px;
        padding-bottom: 60px;
    }

    .about-us-section h1{
        font-size: 30px;
    }

    .about-us-section p{
        width: 90%;
    }

    .gallery-section{
        padding: 20px;
    }

    .gallery-section h1{
        font-size: 30px;
    }

    .gallery-section-inner{
        flex-direction: column;
    }

    .gallery-section-inner div{
        width: 100%;
    }

    footer div a img{
        width: 20%;
    }
    
    
}

@media(max-width: 780px) {
    nav{
        /* border: 1px solid red; */
        flex-direction: row-reverse;
    }
    .links-container{
        display: none;
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 350px;

        background-color: rgb(68, 67, 67);
        transition: right 3s ease-in-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    nav a:hover{
        background-color: #FFFDD0;
    }   

    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding:  20px;
        /* fill: #FFFDD0; */
    }

    #sidebar-active:checked ~ .links-container{
        display: flex;
        right: 0;
    }

    #sidebar-active:checked ~ .links-container .links{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        width: 100%;
    }

    #sidebar-active:checked ~ .links-container .close-sidebar-button svg{
        fill: #FFFDD0;
    }

    nav img{
        width: 10%;
    }

    .home-section-inner{
        padding: 0px;
        padding-top: 90px;
        height: 450px;
        width: 100%;
        text-align: center;
        /* padding-left: 50px; */
    }

    .home-section-inner h1{
        /* width: 80%; */
        margin: 0 auto;
        margin: 10px;
    }

    .home-section-inner p{
        width: 80%;
        line-height: 1.7;
        padding: 10px;
        margin: 0 auto;
    }

    .about-us-section{
        padding: 20px;
        padding-bottom: 60px;
    }

    .about-us-section h1{
        font-size: 30px;
    }

    .about-us-section p{
        width: 90%;
    }

    .gallery-section{
        padding: 20px;
    }

    .gallery-section h1{
        font-size: 30px;
    }

    .gallery-section-inner{
        flex-direction: column;
    }

    .gallery-section-inner div{
        width: 100%;
    }


    footer div a img{
        width: 20%;
    }
    
    
}

@media(max-width: 900px) {
    nav{
        /* border: 1px solid red; */
        flex-direction: row-reverse;
    }
    .links-container{
        display: none;
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 350px;

        background-color: rgb(68, 67, 67);
        transition: right 3s ease-in-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    nav a:hover{
        background-color: #FFFDD0;
    }   

    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding:  20px;
        /* fill: #FFFDD0; */
    }

    #sidebar-active:checked ~ .links-container{
        display: flex;
        right: 0;
    }

    #sidebar-active:checked ~ .links-container .links{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        width: 100%;
    }

    #sidebar-active:checked ~ .links-container .close-sidebar-button svg{
        fill: #FFFDD0;
    }

    nav img{
        width: 10%;
    }

    .home-section-inner{
        padding: 0px;
        padding-top: 90px;
        height: 450px;
        width: 100%;
        text-align: center;
        /* padding-left: 50px; */
    }

    .home-section-inner h1{
        /* width: 80%; */
        margin: 0 auto;
        margin: 10px;
    }

    .home-section-inner p{
        width: 80%;
        line-height: 1.7;
        padding: 10px;
        margin: 0 auto;
    }

    .about-us-section{
        padding: 20px;
        padding-bottom: 60px;
    }

    .about-us-section h1{
        font-size: 30px;
    }

    .about-us-section p{
        width: 90%;
    }

    .gallery-section{
        padding: 20px;
    }

    .gallery-section h1{
        font-size: 30px;
    }

    .gallery-section-inner{
        flex-direction: column;
    }

    .gallery-section-inner div{
        width: 100%;
    }

    footer div a img{
        width: 20%;
    }
    
}

@media(max-width: 1068px) {
    .about-us-section{
        padding: 20px;
        padding-bottom: 60px;
    }

    .about-us-section h1{
        font-size: 30px;
    }

    .about-us-section p{
        width: 90%;
    }

    .gallery-section{
        padding: 20px;
    }

    .gallery-section h1{
        font-size: 30px;
    }

    .gallery-section-inner div{
        width: 100%;
    }

    footer div a img{
        width: 10%;
    }
    
}